@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "IBM Plex Mono", monospace;
    background-color: #222831; 
    color: #EEEEEE;
}

.header {
    padding: 30px;
    text-align: center;
    font-size: 40px; 
    font-weight: 600;
}

.redirect-to-eps {
    padding: 25px; 
    margin: 0 auto; 
}

.dates {
    font-size: 18px; 
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #76ABAE;
    font-size: 30px; 
    font-weight: 600;
}